.container{
    width: 1226px;
    margin: auto;
    position: relative;
}
body{
    background-color: #f5f5f5;
    font-size: 12px;
    color: #555;
}
.top{
    background: #fff;
    width: 100%;
    color: #ccc;
    .top0{
        line-height: 30px;
        height: 30px;
        width: 100%;
        font-size: 12px;
        border-bottom: 2px solid #FDB14F;
        a{
            padding-left: 5px;
            padding-right: 5px;
            color: #FDB14F;
        }
        .left{
            float: left;
            color: #fff;
        }
        .right{
            float: right;
            margin-right: 5px;
            position: relative;
            padding-left: 5px;
            height: 30px;
            ul{
                li{
                    float: left;
                    position: relative;
                    margin-right:10px;
                    a{
                        display: block;
                        background-image: url(../images/scico.png);
                        background-repeat: no-repeat;
                        padding-left: 25px;
                        padding-right: 5px;
                    }
                    .order{
                        background-image: none;
                        padding-left: 0;
                    }
                }
                
                .li1 a{
                    background-position: 0px 5px;
                }
                .li3 a{
                    background-position: 0 -55px;
                }
                .li3 img{
                    display: none;
                }
                .li3:hover img {
                    display: block;
                    position: absolute;
                    top: 38px;
                    left: -1px;
                    border: 1px solid #ddd;
                    border-top: 0px;
                    background: #FFF;
                    padding: 5px;
                    z-index: 757575;
                }
            }
        }
    }

    .top1{
        width: 1226px;
        margin:auto;
        height: 90px;
        position: relative;
        .logo{
            float: left;
            width: 260px;
            padding-top: 5px;
            padding-right: 30px;
            cursor: pointer;
            img{
                max-height: 80px;
                width: auto;
            }
        }
        ul{
            float: left;
            >li{
                float: left;
                cursor: pointer;
                >a{
                    padding-left: 25px;
                    padding-right: 25px;
                    line-height: 90px;
                    display: block;
                    cursor: pointer;
                    font-size: 16px;
                    text-align: center;
                    color:#000;
                }
                a:hover{
                    color:orangered;
                }
                .box{
                    z-index: 10;
                    display:none;
                    width: 100%;
                    position: absolute;
                    left: 0px;
                    top: 90px;
                    background: #FFF;
                    border-top: 1px solid #eee;
                    box-shadow: 0px 3px 5px #ccc;
                    cursor: pointer;
                    text-align: center;
                    padding: 30px 20px 20px 20px;
                    border-radius: 12px;
                    .minbox{
                        float: left;
                        font-size: 14px;
                        width: 16.6%;
                        overflow: hidden;
                        .img{
                            border-right: 1px solid #ccc;
                        }
                        a{
                            display: block;
                            color:#333;
                            font-size: 12px;
                            padding-right:20px;
                            padding-left: 20px;
                            overflow: hidden;
                            margin-bottom: 20px;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            img{
                                margin-left: 20px;
                                width: 132px;
                            }
                        }
                        em{
                            display: block;
                            color:#FF6700;
                            font-size: 14px;
                           text-align: center;
                        }
                    }
                }
            }
        }
        .search{
            float: right;
            width: 300px;
            margin-top: 23px;
            height: 42px;
            border: 1px solid #ddd;
            border-radius: 8px;
            overflow: hidden;
            input[type="text"]{
                border:0px;
                background: #FFF;
                width: 240px;
                line-height: 42px;
                height: 42px;
                padding-left: 5px;
                font-size: 12px;
                color: #757575;
                float: left;
                border-right: none;
                box-sizing: border-box;
            }
            
            input[type="submit"]{
                float: left;
                border: 0px;
                width: 60px;
                line-height: 42px;
                height: 42px;
                color: #FFF;
                text-align: center;
                background: orange url(../images/search.png)
                 no-repeat center;
                 cursor: pointer;
            }
            input[type="text"]:focus{
                border:1px solid skyblue;
            }
        }
    }
}

.banner{
    .swiper-container{
        width: 100%;
        height: 460px;
        overflow: hidden;
        border-radius: 12px;
        .swiper-wrapper{
            img{
                width: 100%;
            }
        }
        .swiper-button-prev,.swiper-button-next{
            width: 30px;
            height: 55px;
            cursor: pointer;
            background:rgba(0,0,0,0.5);
            color:#fff;
            padding-bottom: 5px;
        }
        .swiper-button{
            position: relative;
            top:-280px;
            width: 1106px;
            left: 120px;
            overflow: hidden;
            height:60px;
            .swiper-button-prev{
                position: absolute;
                left:-30px;
            } 
            .swiper-button-next{
                position: absolute;
                right:-30px;
            }
        }
            
    } 
    .classmenu{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100px;
        padding-top: 4px;
        z-index: 2;
        height: 456px;
        border: 0;
        color: #fff;
        background: #333;
        background: rgba(0, 0, 0, 0.4);
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        ul{
            position: relative;
            li{
                float: left;
                width: 100%;
                cursor: pointer;
                
                a{
                    display: block;
                    position: relative;
                    padding: 0px 10px 0px 25px;
                    line-height: 41px;
                    font-weight: normal;
                    font-size: 14px;
                    height: 41px;
                    position: relative;
                    color: #fff;
                    i{
                        position: absolute;
                        right: 15px;
                        top:15px;
                        display: block;
                        width: 13px;
                        height: 13px;
                        background:URL(../images/down.gif) center center no-repeat;
                    }
                }
                .cat_p{
                    display: none;
                    position: absolute;
                    z-index: 1;
                    left: 100px;
                    width: 390px;
                    top: 1px;
                    border: 1px solid #ddd;
                    height: 420px;
                    background: #FFF;
                    overflow: hidden;
                    padding: 20px;
                    border-left: 0px;
                    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
                    transform: translateY(-3px);
                    .cat_cat{
                        a{
                            display: block;
                            float: left;
                            width: 46.9%;
                            line-height: 49px;
                            margin-bottom: 15px;
                            font-size: 14px;
                            color:#333;
                            padding-left: 0;
                            img{
                                margin-right: 10px;
                                width: 40px;
                                height: auto;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                        .ts{
                            border-bottom: 1px solid #eee;
                            color: #333;
                            font-size: 14px;
                            padding-top: 15px;
                            font-weight: 600;
                            width: 100%;
                        }
                    }
                }
            }
            li:hover{
                background: #FF6700;
                .cat_p{
                    display: block;
                }
            }
        }
    }
}

//内容
.box_wrap{
    width: 248px;
    float: left;
    .content{
        transition: all .2s linear;
        cursor: pointer;
        text-align: center;
        padding: 30px 20px 20px 20px;
        border-radius: 12px;
        border: 1px solid rgba(199,111,0,0.07);
        margin-right: 14px;
        margin-left: 14px;
        margin-bottom: 14px;
        overflow: hidden;    
        height: 250px;         
        a{
            display: block;
            width: 100%;
            color:#333;
            img{
                width: 160px;
                height: auto;
                text-align: center;
                vertical-align: middle;
                margin: auto;
            }
        }
        a:hover{
            color: #FF6700;
        }
        a:nth-of-type(2){
            font-size: 12px;
            height: 22px;
            line-height: 22px;
            overflow: hidden;
            padding-top: 15px;
        }
        em{
            padding-top: 6px;
            line-height: 25px;
            font-size: 14px;
            color: #FF6700;
        }
    }
    .content:hover{
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
        transform: translateY(-3px);
    }

}
//内容头 
.index_content_top{
    width: 100%;
    background-color: #fff;
    .index_content_top1{
        padding-top: 10px;
        .fl{
            float: left;
            width: 234px;
            height: 170px;
            background: url(../images/right_nav.png) no-repeat center center;
            li{
                float: left;
                width: 33.33%;
                height: 85px;
                text-align: center;
                a{
                    color: #FFF;
                    display: block;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .fr{
            float: right;
            width: 992px;
            overflow: hidden;
            a{
                float: left;
                display: block;
                width: 32%;
                float: left;
                margin-left: 0.50%;
                border: 4px solid #FDB14F;
                border-radius: 12px;
                overflow: hidden;
                img{
                    width: 100%;
                }
            }
        }
    }
    .index_content_top2{
        padding-top: 30px;
        padding-bottom: 20px;
        overflow: hidden;
        position: relative;
        .title{
            padding-top: 5px;
            height: 35px;
            position: relative;
            line-height: 35px;
            font-size: 22px;
            color: #333;
            font-weight: 200;
            background: url(../images/everyday.png) no-repeat left center;
            .more{
                float: right;
                a{
                    height: 25px;
                    width: 35px;
                    display: block;
                }
                a:nth-child(1){                   
                    float: left;
                    background: url(../images/new_prev.png) no-repeat center;
                }
                a:nth-child(2){
                    float: right;
                    background: url(../images/new_next.png) no-repeat center;
                }
            }
        }
        .index_content_body{
            width: 2480px;
            border-radius: 12px;
            position: relative;
            overflow: hidden;
            left:0px;
            .index_content_body_wrap{
                .content{
                    height:auto;
                }
            }  
        }
    }
}

// index_body
.index_body{
    
    .ib_content{
        padding-top: 35px;
        position: relative;
        margin-top: 26px;
        .title{
            height: 35px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 1226px;
            background: url(../images/novel.png) no-repeat left center;
            a{
                position: absolute;
                right: 0px;
                top: 0px;
                font-size: 16px;
                display: block;
                .text_icon{
                    display: block;
                    float: left;
                    height: 25px;
                    width: 50px;
                    background: url(../images/more_yellow.png) no-repeat center;
                }
                .more_icon{
                    display: block;
                    float: right;
                    width: 20px;
                    height: 25px;
                    background: url(../images/new_next.png) no-repeat;
                    margin-left: 6px;
                }
            }
        }
        .content_body{
            .fl{
                float: left;
                width: 234px;
                a{
                    display: block;
                    margin-bottom: 4px;
                    border: 4px solid #FDB14F;
                    overflow: hidden;
                    padding:0;
                    box-sizing: border-box;
                    margin-right: 0;
                    height: auto;
                    margin-left: 0;
                }
            }
            .fr{
                width: 992px;
                float: right;
                .content{
                    border:0;
                    background-color: #fff;
                    i{
                        font-size: 12px;
                        color:#555;
                        display: block;
                    }
                }
                .wrap_10{
                    .content{
                        height:93px;
                        img{
                            width:100%;
                            height:auto;
                        }
                        a:nth-child(1){
                            float: right;
                            width: 80px;
                        }
                        a:nth-child(2),em{
                            float: left;
                            width: 100px;
                            text-align: left;
                        }
                    }
                    .content:nth-child(2){
                        background: #FDB14F url(../images/more_white.png) no-repeat 67px center;
                        a{
                            width: 180px;
                            height: 100%;
                            background: url(../images/back.png) no-repeat 125px 33px;
                        }
                    }
                }
            }
        }
    }
    // 杂志
    .index_body_magazine{
        overflow: hidden;
        .title{
            background: url(../images/magazine.png) no-repeat left center;
            ul{
                position: absolute;
                right: 15px;
                top: 0px;
                li{
                    float: left;
                    font-size: 16px;
                    line-height: 22px;
                    margin-left: 30px;
                    cursor: pointer;
                    border-bottom: 0px;
                }
                li:nth-child(1){
                    color:#FDB14F;
                    border-bottom:2px solid #FDB14F;
                }
            }
        }
        .content_body{
            .fl{
                img{
                    width: 234px;
                    height: 300px;
                }
            }
            .fr{
                position: relative;
                .minfr{
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .minfr1{
                    z-index: 10;
                }
                
            }
        }
    }
}





//底部
.footer{
    background: #fff url(../images/footer.png) no-repeat left top;
    background-size: cover;
    margin-top: 15px;
    .right_nav{
        position: fixed;
        top: 35px;
        right: 0;
        height: 92%;
        width: 35px;
        z-index: 75757599;
        padding-top: 8%;
        ul{
            background: #FDB14F;
            li{
                text-align: center;
                position: relative;
                cursor: pointer;
                margin-top: 20px;
                height: 44px;
                overflow: hidden;
                cursor: pointer;
                margin: 0px;
                i{
                    display: block;
                    width: 35px;
                    margin: auto;
                    color: #FFF;
                    line-height: 20px;
                    font-size: 12px;
                    word-spacing: 0px;
                    padding-top: 24px;
                }
            }
            li:nth-of-type(1){
                height:108px;
                i{
                    background: URL(../images/right_nav1.png) left -200px no-repeat;
                }
                b{
                    border-radius: 10px;
                    color: #fff;
                    width: 17px;
                    line-height: 17px;
                    display: block;
                    clear: both;
                    margin: auto;
                    padding: 0px;
                    font-size: 12px;
                }
            }
            li:nth-of-type(2){
               
                i{
                    background: URL(../images/right_nav1.png) left -344px no-repeat;
                    display:block;
                    position: relative;
                    span{
                        display: block;
                        position: absolute;
                        bottom: -44px;
                        left: 0px;
                        line-height: 22px;
                        width:35px;
                        color:#fff;
                        margin:auto;
                        height: 44px;
                         background-color: #FDB14F;
                         transition: 1s;
                    }
                }
                i:hover{
                    span{
                        transform: translateY(-44px);
                    }
                }
            }
        }
    }
    .footer_nav{
        padding: 27px 0;
        border-bottom: 1px solid #e0e0e0;
        ul{
            overflow: hidden;
            li{
                float: left;
                width: 15.8%;
                height: 25px;
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                a{
                    color: #616161;
                    transition: color 0.2s;
                }
                a:hover{
                    color: #ff6700;
                }
            }
        }
    }
    .our_services{
        padding-top: 20px;
        p{
            line-height: 30px;
            font-size: 14px;
            span{
                font-weight: bold;
                color:#FF6700;
            }
        }
        a{
            display: block;
            width: 28px;
            height: 28px;
            text-align: center;
            background-image: URL(../images/gg.png);
            float: left;
            margin-left: 15px;
            margin-top: 15px;
        }
        a:nth-of-type(1){
            background-position: right 0px;
        }
        a:nth-of-type(2){
            background-position: 0 0;
        }
    }
    .footer_info{
        text-align: center;
        line-height: 25px;
        padding-top: 15px;
        padding-bottom: 30px;
        color: #666;
        margin: auto;
        a{
            color:#333;
        }
        a:hover {
            text-decoration: underline;
            color: #FF6700;
        }
    }
}